{% extends "base.html" %}

{% block title %}Cargar Mes{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 120px);"> {# Ajustar altura para centrar #}
        <div class="card p-4 shadow-lg" style="width: 100%; max-width: 450px; border-radius: 1rem;">
            <h1 class="text-center mb-4 text-primary">Cargar Mes</h1>

            <form action="{{ url_for('load_month') }}" method="POST">
                <div class="mb-4">
                    <label for="selected_month" class="form-label">Seleccionar Mes:</label>
                    <input type="month" class="form-control form-control-lg" id="selected_month" name="selected_month" value="{{ current_month }}" required>
                </div>
                <button type="submit" class="btn btn-primary btn-lg w-100">Cargar Mes</button>
            </form>
        </div>
    </div>
{% endblock %}